@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewData["Title"] = "Home Page";
}

@section MainSection{
    <div class="text-center">
        <h1 class="display-4">Welcome mansoor</h1>
        @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
        <p>mansoor moqbel</p>
    </div>
}

